<extend name="Base/edit"/>
<block name="form"><form method="post" action="{:U()}" name="theForm">
  <table cellspacing="1" cellpadding="3" width="100%">
    <tbody>
        <tr>
      <td class="label">品牌名</td>
    </tr>
    <td><input type='text' name='name' maxlength='60' value='{$name}'><span class='require-field'>*</span></td>
        <tr>
      <td class="label">品牌网址</td>
    </tr>
    <td><input type='text' name='weburl' maxlength='60' value='{$weburl}'><span class='require-field'>*</span></td>
        <tr>
      <td class="label">品牌排序</td>
    </tr>
    <td><input type='text' name='sort' maxlength='60' value='{$sort}'><span class='require-field'>*</span></td>
        <tr>
      <td class="label">品牌简介</td>
    </tr>
    <td><input type='text' name='intro' maxlength='60' value='{$intro}'><span class='require-field'>*</span></td>
        <tr>
      <td class="label">品牌状态</td>
    </tr>
    <td><input type='radio' class='status' name='status' value='1' > 是<input type='radio' class='status' name='status' value='0' > 否</td>
        
    <tr>
      <td colspan="2" align="center"><br>
        <input type="hidden" name="id" value="{$id}"/>
        <input type="submit" class="button ajax-post" value=" 确定 ">
        <input type="reset" class="button" value=" 重置 ">
        <input type="hidden" name="act" value="update">
        <input type="hidden" name="brand_id" value="">
      </td>
    </tr>
    </tbody></table>
</form></block>

